*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(207, 224, 159);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.h1 h1{
    font-size: 40px;
    color: rgb(31, 145, 31);
    font-family: sans-serif;
    font-weight: 800;
}

.para p{
    font-size: 40px;
    color: rgb(58, 117, 58);
    font-family: sans-serif;
}

input{
    height: 50px; 
    width: 400px; 
    border: 2px solid rgb(14, 112, 14); 
    border-radius: 15px; 
    text-align: center; 
    font-size: 15px; 
}

.btn-1{
    width: 100px; 
    height: 30px; 
    background: green; 
    border-radius: 15px; 
    color: whitesmoke; 
    text-align: center; 
    padding: 3px; 
    border: none; 
}

.btn-2{
    width: 100px; 
    height: 30px; 
    background: green; 
    border-radius: 15px; 
    color: whitesmoke; 
    text-align: center; 
    padding: 3px; 
    border: none; 
}

.para-text { 
    padding: 20px; 
} 

